.card {
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  margin: 10px;
}

.card .imgBx {
  position: relative;
  width: 100%;
  height: 240px;
  background: #f00;
  border-radius: 15px;
}

.card .imgBx::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -10px 10px 0 #fff;
}

.card .imgBx::after {
  content: '';
  position: absolute;
  bottom: 70px;
  left: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -10px 10px 0 #fff;
}

.card .content {
  position: relative;
  width: 100%;
  height: 150px;
  background: #495e57;
  border-radius: 15px;
  border-top-left-radius: 0;
}

.card .content .price {
  position: absolute;
  top: -80px;
  height: 80px;
  width: 50%;
  background: #495e57;
  border-top: 10px solid #fff;
  border-right: 10px solid #fff;
  border-top-right-radius: 25px;
}

.card .content .price::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -10px -10px 0 #fff;
}

.card .content .price::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -25px;
  width: 25px;
  height: 25px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -10px 10px 0 #495e57;
}

.card .content .price span {
  position: relative;
  padding: 5px 5px;
  margin: 10px 5px;
  display: block;
  border-radius: 7px;
  color: #F4CE14;
  font-size: x-large;
  text-align: center;
}

/* .content {
  overflow: hidden;
} */