.testimonial {
  background: #EDEFEE;
  border-radius: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 670px) {
  .pd {
    padding: 10px 35px;
  }
}